Package: easy-rsa-final
Version: 0.1-1
Architecture: all
Maintainer: Rinas Mikhail <rinasmichael@gmail.com>
Installed-Size: 28
Depends: easy-rsa, gpg
Section: skillbox
Priority: optional
Homepage: https://github.com/rinasmichael/Skillbox
Description: Installing Easy-rsa and gpg packages...
